{% extends "base_warehouse.html" %}
{% load staticfiles %}
{% block title %}Actualizar{% endblock %}
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}
{% block bottons %}
 <div id="panel-buttons">
    <div id="list-form">
        <p>
        <a href="{% url 'list_ambulances' %}"><button type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list"></span></button></a>
        </p>
    </div>
    <div id="buttons">
         <p>     
            <a href="{% url 'create_ambulances' %}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Crear</button></a>
            <a href="{% url 'delete_ambulances' unitsmeasures.pk %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
         </p> 
    </div>
</div>      
{% endblock %}
{% block list %}
{% endblock %}
{% block form %}
<style>
th {
    border-right:white 15px solid;
    border-left:white 30px solid;
    
}

</style>
<div id="container">
   <form action="." method="POST">
   {% csrf_token %}
   <h3 class="page-header">Modificar Ambulacia</h3>
      
<!--#####row 1######-->
        <table>
            <tr>
                <th>Ambulacia:</td>
                <td><input class="form-control" name= ambulances {{ form.ambulances }}</td>
                <th>Active</th>
                <td><input type="checkbox" name= active {{form.active}} </td>
            </tr>
                <tr><td><br><br></td></tr>
<!--#####row 2######-->
            <tr>
                
                <th></th>
                <td>{{ form.ambulances.errors }}
                    {{ form.active.errors }}</td>
            </tr>
                <tr><td><br><br></td></tr>
                
            </table>
            <center>
                   <p>
                   <a href="{% url 'list_ambulances' %}"><button type="button" class="btn btn-default">Cancelar</button></a>
                   <button type="submit" class="btn btn-default">Guardar</button>
                   </p>
                </center>

   </form>
</div>
{% endblock %}